$main-font: 'Lato', sans-serif;;
$nav-color: #FEF11C;
$block-padding: 50px;

body {
  position: relative; 
  min-width:320px;
}

#section1 {padding-top:50px;height:500px;color: #fff; background: url('../img/banner.png') no-repeat; width: 100%; height: 100vh; }
	#section2 {padding-top:$block-padding;height:500px;color: #fff; background-color: #673ab7;}
	#section3 {padding-top:$block-padding;height:500px;color: #fff; background-color: #ff9800;}
	#section41 {padding-top:$block-padding;height:500px;color: #fff; background-color: #00bcd4;}
	#section42 {padding-top:$block-padding;height:500px;color: #fff; background-color: #009688;}
	#section43 {padding-top:$block-padding;height:500px;color: #fff; background-color: #00bcd4;}
	#section44 {padding-top:$block-padding;height:500px;color: #fff; background-color: #009688;}

a.navbar-brand {
	background: url('../img/logo.png') no-repeat;
	width: 150px;
	height: auto;
	margin-top: 10px;
}

.navbar-inverse {
	background:#fff;
	.navbar-nav>li {
		min-width: 120px;
		text-align: center;
	}
	.navbar-nav>li>a {
		color:#000;
		font-weight: 400;
		font-family: $main-font;
		font-size: 16px;
		transition: all 0.5s ease;
		padding:15px 0;
		margin: 0 5px;
	}
	.navbar-nav>li>a:focus,
	.navbar-nav>li>a:hover {
		color:#000;
		font-weight: 800;
		transition: all 0.5s ease;
	}
	.navbar-nav>.active>a,
	.navbar-nav>.active>a:focus,
	.navbar-nav>.active>a:hover,
	.navbar-nav>.open>a,
	.navbar-nav>.open>a:focus,
	.navbar-nav>.open>a:hover {
		color:#000;
		font-weight: bold;
		background-color: transparent;
	}
}

.navbar {
	border:0;
	padding: 5px 0;
}

input.search {
	background: #E7E3F0;
	border: 0;
	outline: none;
	padding: 6px 10px;
	margin-top: 10px;
	background-image: url('../img/search-icon.png');
	background-repeat: no-repeat;
	background-position: 90% 50%;
	background-size: 13px 13px;
}

.dropdown-menu>li>a  {
 	color:#FCFCFC;
 }

 .carousel-indicators {
 	.active{
 		width:8px;
 		height:8px;
 		margin:0 auto;
 		background-color:#fff;
 	}
 	li {
 		border:0;
 		background-color:#B6B6B6;
 		width:8px;
 		height:8px;
 		margin:0;
    }
 }

 .carousel-control.left,
 .carousel-control.right {
 	background:none;
 	color:#fff;
 }


 .carousel-control .fa-angle-left,
 .carousel-control .fa-angle-right,
 .carousel-control .icon-next,
 .carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    background-color: rgba(255,255,255,.15);
    padding:18px 25px;
}

.carousel-control:focus,
.carousel-control:hover {
	opacity:0.8;
	color:#fff;
}

.carousel-control {
	text-shadow:none;
	color:#fff;
	opacity:1;
}

.carousel-caption {
    top: 35%;
    bottom: auto;

    h3 {
    	font-size:54px;
    	font-weight:700;
    	font-family:$main-font;
    	text-transform:uppercase;
    	letter-spacing:3px;
    	word-spacing:3px;
    	margin-bottom:25px;
    	span {
    		color:$nav-color;
    	}
    }

    p {
    	font-weight:300;
    	font-family:$main-font;
    	width:74%;
    	margin:0 auto;
    	font-size:14px;
    	word-spacing:2px;
    	line-height:25px;
    }
}

.progress {
  height: 10px;
  border-radius:0;
  box-shadow:none;
  background:none;
  border:1px solid #ccc;
  .progress-bar {
  transition: width 3s ease;
  background-color:#0F98CE;
  height: 4px;
  margin:2px;
}
}

.skill {
	font: bold 14px $main-font;
	line-height: 35px;
	padding: 0;
	margin: 0 0 10px;
	text-transform: uppercase;
	.val {
		float: right;
		font-style: normal;
		margin: 0;
}
}

div.tablet-img {
   display:flex;
   justify-content:center;
   margin-left:40%;
   img {
   margin-top:20%;
   }
}

section#about {
	padding:100px;
	outline:0;
	h2 {
		text-transform:uppercase;
		font: bold 35px $main-font;
		word-spacing:2px;
		color:#373737;
		span {
			color:#0C99D1;
		}
	}

	p.main-d{
		color:#989898;
		font-size:12px;
		letter-spacing:1px;
		word-spacing:2px;
		line-height:22px;
		margin:20px 0 40px;
	} 

	p.description {
		color:#6B6B6B;
		font-size:12px;
		letter-spacing:1px;
		word-spacing:2px;
		line-height:22px;
		margin:0 0 40px;
	}
}

/*RESPONSIVE STYLES*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
 	.navbar-right {
	.dropdown-menu {
		min-width: 170px;
		border-radius: 0;
		border: 0;
		border-top: 2px solid $nav-color;
		box-shadow: none;
		background-color: rgba(17,12,25,.65);
		padding: 20px 5px;
		left:24%;
	}
}

.dropdown-menu>li>a {
	font-family: $main-font;
	font-weight: 300;
	line-height: 20px;
	word-spacing: 4px;
	padding: 7px 10px;
	}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
	color:$nav-color;
	background: 0;
}

.navbar-nav>li>.dropdown-menu {
	margin-top: 4px;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: 5px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
	color:$nav-color;
	background: 0; 
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
}

#myCarousel .item{
	height:100vh;
	outline:0;
}
}

@media only screen and (max-width : 1274px) {
	.carousel-caption {
		top:37%;

    h3 {
    	font-size:40px;
    	margin-bottom:15px;
    }

    p {
    	width:72%;
    	margin:0 auto;
    	font-size:12px;
    	line-height:20px;
    }
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {
	.navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header {
        float:none;
        .collapse, .navbar-toggle {
        display:block !important;
    	}
    }

    .navbar-collapse.in {
      overflow-y: auto !important;
    }

    .navbar-nav>li {
    	width:100%;
       
    }

    .navbar-right {
    	float: none !important;
    	width:100%;
    }

    .navbar-toggle {
    	color:#000;
    	border:0;
    	background:none;
    	font-size:18px;
    }

    .navbar-inverse {
    	.navbar-toggle:focus,
        .navbar-toggle:hover {
    		background:none;
     }
    }

    .navbar-inverse .navbar-collapse,
 .navbar-inverse .navbar-form {
 	border:0;
 }

 .navbar-fixed-bottom .navbar-collapse,
 .navbar-fixed-top .navbar-collapse {
 	max-height:600px;
 }

 .navbar-right {
 	.dropdown-menu {
 		left:0;
 		box-shadow:none;
 		border:0;
 		text-align:center;
 		float:none;
 		position:static;
 		background-color: rgba(17,12,25,.65);
 	}
 } 

 .dropdown-menu>.active>a,
 .dropdown-menu>.active>a:focus,
 .dropdown-menu>.active>a:hover,
 .dropdown-menu>li>a:focus,
 .dropdown-menu>li>a:hover {
 	color:$nav-color;
 	background:0;
 }

 .carousel-caption {
 	top:35%;
 }
 
}

@media only screen and (max-width : 991px) {
	div.tablet-img {
    	margin-left:0;
    	img {
    		width:50%;
    		height:50%;
    		margin-top:20px;
    	}
	}

	section#about {
	padding:30px 15px;
	}
}

 
/* Medium Devices, Desktops */
@media only screen and (max-width : 974px) {
	.carousel-caption {
	 
    h3 {
    	font-size:35px;
    }
    p {
    	width:82%;
    }
}

.navbar {
	padding:0;
}

}

@media only screen and (max-width : 890px) {
	.carousel-caption {
    h3 {
    	font-size:30px;
    }

    p {
    	width:90%;
    }
}
}
 
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
     .carousel-control .fa-angle-left,
     .carousel-control .fa-angle-right,
     .carousel-control .icon-next,
     .carousel-control .icon-prev {
     	background:0;
     	padding:0;
     	font-size:10px;
    }

    .carousel-caption {
    top:30%;
    h3 {
    	font-size:22px;
    }

    p {
    	font-size:10px;
    	line-height:15px;
    }
}

.carousel-indicators {
	li {
	width:6px;
	height:6px;
	}
	.active {
		width:6px;
	    height:6px;
	}
}
}

@media only screen and (max-width : 560px) {
	.carousel-caption {
    top:25%;
    h3 {
    	font-size:18px;
    }

    p {
    	font-size:9px;
    }
}
     
}

 
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
.carousel-caption {
    top:30%;
    h3 {
    	margin-bottom:5px;
    	font-size:13px;
    }
    p {
     line-height:8px;
     font-size:6px;
    }
}

 .carousel-control .fa-angle-left,
     .carousel-control .fa-angle-right,
     .carousel-control .icon-next,
     .carousel-control .icon-prev {
     	top:60%;
    }
 
}
 
/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {
	.carousel-caption {
    top:20%;
    h3 {
    	font-size:12px;
    }
    ol, ul {
    	margin-bottom:0;
    }
}
}
