$main-font: 'Lato', sans-serif;;
$nav-color: #FEF11C;
$block-padding: 50px;

body {
  position: relative; 
  min-width:320px;
}

#section1 {padding-top:50px;height:500px;color: #fff; background: url('../img/banner.png') no-repeat; width: 100%; height: 100vh; }
	#section2 {padding-top:$block-padding;height:500px;color: #fff; background-color: #673ab7;}
	#section3 {padding-top:$block-padding;height:500px;color: #fff; background-color: #ff9800;}
	#section41 {padding-top:$block-padding;height:500px;color: #fff; background-color: #00bcd4;}
	#section42 {padding-top:$block-padding;height:500px;color: #fff; background-color: #009688;}
	#section43 {padding-top:$block-padding;height:500px;color: #fff; background-color: #00bcd4;}
	#section44 {padding-top:$block-padding;height:500px;color: #fff; background-color: #009688;}

a.navbar-brand {
	background: url('../img/logo.png') no-repeat;
	width: 150px;
	height: auto;
	margin-top: 10px;
}

.navbar-inverse {
	background:#fff;
	.navbar-nav>li {
		min-width: 120px;
		text-align: center;
	}
	.navbar-nav>li>a {
		color:#000;
		font-weight: 400;
		font-family: $main-font;
		font-size: 16px;
		transition: all 0.5s ease;
		padding:15px 0;
		margin: 0 5px;
	}
	.navbar-nav>li>a:focus,
	.navbar-nav>li>a:hover {
		color:#000;
		font-weight: 800;
		transition: all 0.5s ease;
	}
	.navbar-nav>.active>a,
	.navbar-nav>.active>a:focus,
	.navbar-nav>.active>a:hover,
	.navbar-nav>.open>a,
	.navbar-nav>.open>a:focus,
	.navbar-nav>.open>a:hover {
		color:#000;
		font-weight: bold;
		background-color: transparent;
	}
}

.navbar {
	border:0;
	padding: 5px 0;
}

input.search {
	background: #E7E3F0;
	border: 0;
	outline: none;
	padding: 6px 10px;
	margin-top: 10px;
	background-image: url('../img/search-icon.png');
	background-repeat: no-repeat;
	background-position: 90% 50%;
	background-size: 13px 13px;
}

.dropdown-menu>li>a  {
 	color:#FCFCFC;
 }

/*RESPONSIVE STYLES*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
 	.navbar-right {
	.dropdown-menu {
		min-width: 170px;
		border-radius: 0;
		border: 0;
		border-top: 2px solid $nav-color;
		box-shadow: none;
		background-color: rgba(17,12,25,.65);
		padding: 20px 5px;
		left:24%;
	}
}

.dropdown-menu>li>a {
	font-family: $main-font;
	font-weight: 300;
	line-height: 20px;
	word-spacing: 4px;
	padding: 7px 10px;
	}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
	color:$nav-color;
	background: 0;
}

.navbar-nav>li>.dropdown-menu {
	margin-top: 4px;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: 5px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
	color:$nav-color;
	background: 0; 
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {
	.navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header {
        float:none;
        .collapse, .navbar-toggle {
        display:block !important;
    	}
    }

    .navbar-collapse.in {
      overflow-y: auto !important;
    }

    .navbar-nav>li {
    	width:100%;
       
    }

    .navbar-right {
    	float: none !important;
    	width:100%;
    }

    .navbar-toggle {
    	color:#000;
    	border:0;
    	background:none;
    	font-size:18px;
    }

    .navbar-inverse {
    	.navbar-toggle:focus,
        .navbar-toggle:hover {
    		background:none;
     }
    }

    .navbar-inverse .navbar-collapse,
 .navbar-inverse .navbar-form {
 	border:0;
 }

 .navbar-fixed-bottom .navbar-collapse,
 .navbar-fixed-top .navbar-collapse {
 	max-height:600px;
 }

 .navbar-right {
 	.dropdown-menu {
 		left:0;
 		box-shadow:none;
 		border:0;
 		text-align:center;
 		float:none;
 		position:static;
 		background-color: rgba(17,12,25,.65);
 	}
 } 

 .dropdown-menu>.active>a,
 .dropdown-menu>.active>a:focus,
 .dropdown-menu>.active>a:hover,
 .dropdown-menu>li>a:focus,
 .dropdown-menu>li>a:hover {
 	color:$nav-color;
 	background:0;
 }

    
}
 
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
 
}
 
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
     
 
}
 
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
 
     
}
 
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
 
}